:root {
  --c-background: #F2F4FA;
  --c-heading: #15161B;
  --c-text: #15161B;
  --c-card: #fff;
  --c-card-hover: #e5e5e5;
  --c-card-active: #b2b2b2;
  --c-input: #F2F4FA;
  --c-input-hover: #f7f8fa;
  --c-input-active: #bdbfc4;
  --c-inactive: #3B3E4F;
  --c-button: #4189f6;
  --c-button-hover: #247AFB;
  --c-button-active: #0565f5;
  --c-button-disabled: rgba(36, 122, 251, 0.5);
  --c-button-text: #fff;
  --c-step-bg: rgba(36, 122, 251, 0.15);
}

:root {
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: var(--c-background);
  line-height: 1.2;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
