@import './base.scss';

#app {
    min-height: 100vh;
    display: flex;
}
* {
    font-family: 'Inter', sans-serif;
    transition: all .25s ease;
}

.gray-wrapper {
    padding: 5px 10px;
    background: var(--c-input);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}
